# Dependencies
node_modules/

# Build artifacts
dist/
dist-ssr/
build/

# Version control & Git
.git/
.github/

# Environment files
.env*

# Logs
logs/
*.log
npm-debug.log*

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Documentation & Config
README.md
.dockerignore
Dockerfile
